/* .Home .lander {
  text-align: center;
} */

/* * {
  border: solid black 1px;
} */

/* .Home {
  display: flex;
  justify-content: center;
} */

/* .datePickers {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.datePickers {
  align-items: center;
}

.options {
  display: flex;
  align-items: center;
}

/* @media only screen and (max-width: 991px) {
  .datePickers {
    text-align: center;
  }
} */


.Home h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}
